.locate {
    &-content {
        margin-top: 40px;
    }
    &-title {
        display: flex;
        justify-content: center;
        h3 {
            font-size: $text-4xl;
            margin-top: $text-4xl;
            margin-bottom: 0px;
            padding-bottom: $text-xxs;
            width: 200px;
            border-bottom: 3px solid $primary;
            @include pad {
                font-size: $text-2xl;
                width: 150px;
                margin-top: $text-2xl;
            }
            @include mobile {
                margin-top: $text-l;
                font-size: $text-xl;
                width: 130px;
            }
        }
    }
    &-store {
        background: url(../images/store-banner.jpg) no-repeat;
        background-size: cover;
        background-position: center 70%;
        height: 60vh;
        margin-top: 36px;
        @include pad {
            height: 50vh;
        }
        @include mobile {
            margin-top: 30px;
            height: 55vh;
        }
        &-img {
            img {
                width: 90%;
                height: 170px;
                border-radius: $text-m;
            }
        }
    }
    &-map {
        iframe {
            width: 100%;
            height: 480px;
            @include mobile {
                height: 350px;
            }
        }
    }
    &-text {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; 
    }
    &-list {
        &-title {
            background-color: $secondary;
            color: $white;
            font-size: 32px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            @include mobile {
                font-size: $text-l;
            } 
        }
        &-item {
            font-size: $text-m;
            @include mobile {
                h4 {
                    font-size: $text-base;
                }
                p{
                    font-size: 12px;
                }
            } 
        }
    }
}
.hex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: $primary;
    position: relative;  
    top: 10px;
    @include pad {
        width: 200px;
        height: 150px;
    }
    @include mobile {
        width: 190px;
        height: 150px;
    }
    img {
        border: 3px solid $white;
        height: 200px;
        z-index: 2;
        @include pad {
            height: 150px;
        }
    }
}
.hex-box:before {
    content: "";
    position: absolute;
    top: -75px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 75px solid $primary;
    @include pad {
        top: -50px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 50px solid $primary;
    }
    @include mobile {
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
    }
}
.hex-box:after {
    content: "";
    position: absolute;
    bottom: -75px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 75px solid $primary;
    @include pad {
        top: 150px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 0px solid $primary;
        border-top: 60px solid $primary;
    }
    @include mobile {
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
    }
}
