.product {
    &-content {
        margin: 60px 0;
    }
    &-number {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-img {
        display: flex;
        justify-content: center;
        img {
            width: 80%;
            background-size: cover;
            height: auto;
            @include pad {
                width: 60%;
            }
        }
    }
    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
                padding-top: $text-l;
                font-size: $text-xl;
            }
            p {
                padding-top: 12px;
                font-size: 24px;
            }
        }
        &-intro {
            display: flex;
            justify-content: center;
            margin-top: 8px;
            text-align: left;
            text-align: center;
            span {
                color: $gary;
            }
        }
        &-price {
            margin-top: $text-base;
            text-align: center;
            h5 {
                font-size: $text-m;
                text-decoration: line-through;
                color: $gray-300;
                font-style: italic;
            }
            h4 {
                font-size: $text-l;
            }
            p {
                font-size: $text-xm;
            }
        }
    }
    &-button {
        column-gap: $text-4xl;
    }
    &-addBtn, &-backBtn {
        a {
            display: block;
            padding: 8px $text-l;
            border-radius: $text-xs;
        }
    }
    &-addBtn {
        a {
            background-color: $primary;
            color: $white;
            &:hover {
                opacity: .5;
            }
        }
    }
    &-backBtn {
        a {
            border: 1px solid $secondary;
            color: $secondary;
            &:hover {
                background-color: $secondary;
                color: $white;
                transition: .5s;
            }
        }
    }
    &-recommend {
        margin-bottom: 80px;
        &-title {
            display: flex;
            justify-content: center;
            h3 {
                margin: $text-4xl 0;
                padding-bottom: $text-xxs;
                font-size: $text-xl;
                border-bottom: 3px solid $primary;
                width: 200px;
            }
        }
        &-item {
            img {
                height: 200px;
                border: 1px solid #ccc;
                border-radius: $text-xs $text-xs 0 0 ;
            }
            &-text {
                border: 1px solid #ccc;
                border-radius: 0 0 $text-xs $text-xs ;
                border-top: transparent;
                h3 {
                    font-size: $text-m;
                    padding: 8px 0;
                }
            }
            &-card {
                width: 200px;
                column-gap: 8px;
                padding-bottom: $text-base;
                p {
                    color: red;
                    font-size: $text-xm;
                }
                a {
                    font-size: $text-s;
                    display: block;
                    border: 1px solid $primary;
                    padding: $text-xxs $text-base;
                    border-radius: $text-xs;
                    &:hover {
                        background-color: $primary;
                        color: $white;
                        transition: .5s;
                    }
                }
            }
        }
    }
}
.product-link{
    color: $dark;
}
.product-link:hover{
    background-color: $primary;
    color: $white;
}
